body {
    background-image: url('https://img.freepik.com/vecteurs-libre/antecedents-medicaux-propres_53876-97927.jpg?w=1380&t=st=1698863667~exp=1698864267~hmac=373020ddd6ef93ea2bf3a0eaec7bf14f9daf46f95ff3e6b21ecd26876bfdb585');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 62px;
    color: #0b5345;
    text-shadow: 7px 5px 0   #48c9b0;
}

form {
    text-align: center;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


label {
    font-weight: bold;
    font-size: 20px;
    color: #0b5345;
}

input {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #76d7c4;
    border-radius: 5px;
}

button {
    font-size: 20px;
    background-color: #76d7c4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #48c9b0;
}

.vente-table {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}
